@import "tailwindcss";

@font-face {
    font-family: "Cereal";
    src: url('./assets/fonts/AirbnbCerealVF_W_Wght.2d9d32865ef1262644c455b3ead871e9.woff2');
    font-weight: normal;
}

:root {
    --color-pink: #FF385C;
    --font-regular: "Cereal";
    --color-primary: #222222;
    --color-secondary: #6A6A6A;
}

* {
    box-sizing: border-box;
    color: var(--color-primary)
}

body {
    font-family: "Cereal";
}